$block-inverse-color:   #fff !default;
$block-title-size:      36px !default;
$block-description-size:24px !default;

$block-image-size:      cover !default;
$block-image-position:  50% 50% !default;

$overlay-opacity:            0.65 !default;

%block-absolute {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	> .block-inner {
		display: block;
	}
}


.block {
	display: table;
	width: 100%;
	table-layout: fixed;

	background-size: $block-image-size;
	background-repeat: no-repeat;
	background-position: $block-image-position;

	// modificators
	&-fill-height {
		height: 100%;
		height: 100.1vh;
	}
	&-collapse {
		padding: 0;
	}
	&-inverse {
		color: $block-inverse-color;
		h1,h2,h3,h4,h5,h6,
		.h1,.h2,.h3,.h4,.h5,.h6 {
			color: inherit;
		}
	}
	&-absolute-top {
		@extend %block-absolute;
		top: 0;
	}
	&-absolute-bottom {
		@extend %block-absolute;
		bottom: 0;
	}
	&-overlay {
		position: relative;
		z-index: 1;
		
		&:after  {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: inherit;
			opacity: $overlay-opacity;
		}
	}
	&-relative {
		position: relative;
		z-index: 2;
	}

	// childs
	&-header {
		display: table-header-group;
		height: 1%;
		.block-inner {
			vertical-align: top;
		}
	}
	&-content {
		display: table-row;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
		    height: 100%;
		}
	}
	&-footer {
		display: table-footer-group;
		height: 1%;
		.block-inner {
			vertical-align: bottom;
		}
	}
	&-inner {
		display: table-cell;
		vertical-align: middle;
		&:before {
			content: '';
			float: left;
		}
	}
	&-title {
		&:not(.prevent-ta){
			text-align: center;
		}
		font-size: $block-title-size;
		letter-spacing: 3px;
		letter-spacing: 2.7px;
		margin: 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 81px;
			height: 7px;
			margin: auto;
			margin-bottom: (25 / 1170 * 100%);
			background-color: #d2d2d2;
			background: url('../img/general/title-waves.png');
		}
		&-sm {
			font-size: 20px;
			letter-spacing: 2px;
			letter-spacing: 1.8px;
			&:not(.prevent-ta){
				text-align: left;
			}
			&:before {
				margin-left: 0;
				margin-bottom: 4.3%;
			}
		}
	}
	&-desc {
		&:not(.prevent-ta){
			text-align: center;
		}
		font-size: $block-description-size;
		margin: 0;
		line-height: 1.6;
		margin-top: 13px;
		letter-spacing: 0.15px;
	}
}

.bg {
	&-darken {
		background-color: $bg-darken;
	}
	&-darken-2 {
		background-color: $bg-darken-2;
	}
}

.p {
	&-m {
		padding-top: in-perc(70);
		padding-bottom: in-perc(90);
	}

	&-mt {
		padding-top: in-perc(70);
	}
	&-mt2 {
		padding-top: in-perc(90);
	}

	&-mb {
		padding-top: in-perc(90);
	}
	&-mm {
		padding-top: in-perc(70);
		padding-bottom: in-perc(70);
	}
	&-lg {
		padding-top: in-perc(150);
		// padding-top: 10.4%;
		padding-bottom: in-perc(250);
		padding-bottom: 20.82982%;
	}
}
.m {
	&t {
		&-m {
			// margin-top: in-perc(71);
			margin-top: 6%;
		}
		&-m-lg {
			margin-top: in-perc(90);
		}
		&-lg {
			// margin-top: in-perc(100);
			margin-top: 7.2%;
		}
	}
}