// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

// Utilities
@import "bower_components/bootstrap/scss/mixins/breakpoints";
@import "bower_components/bootstrap/scss/mixins/hover";
@import "bower_components/bootstrap/scss/mixins/image";
@import "bower_components/bootstrap/scss/mixins/tag";
@import "bower_components/bootstrap/scss/mixins/reset-filter";
@import "bower_components/bootstrap/scss/mixins/resize";
@import "bower_components/bootstrap/scss/mixins/screen-reader";
@import "bower_components/bootstrap/scss/mixins/size";
@import "bower_components/bootstrap/scss/mixins/tab-focus";
@import "bower_components/bootstrap/scss/mixins/reset-text";
@import "bower_components/bootstrap/scss/mixins/text-emphasis";
@import "bower_components/bootstrap/scss/mixins/text-hide";
@import "bower_components/bootstrap/scss/mixins/text-truncate";

// Components
@import "bower_components/bootstrap/scss/mixins/alert";
@import "bower_components/bootstrap/scss/mixins/buttons";
@import "bower_components/bootstrap/scss/mixins/cards";
@import "bower_components/bootstrap/scss/mixins/pagination";
@import "bower_components/bootstrap/scss/mixins/lists";
@import "bower_components/bootstrap/scss/mixins/list-group";
@import "bower_components/bootstrap/scss/mixins/nav-divider";
@import "bower_components/bootstrap/scss/mixins/forms";
@import "bower_components/bootstrap/scss/mixins/progress";
@import "bower_components/bootstrap/scss/mixins/table-row";

// Skins
@import "bower_components/bootstrap/scss/mixins/background-variant";
@import "bower_components/bootstrap/scss/mixins/border-radius";
@import "bower_components/bootstrap/scss/mixins/gradients";

// // Layout
@import "bower_components/bootstrap/scss/mixins/clearfix";
@import "bower_components/bootstrap/scss/mixins/navbar-align";
@import "bower_components/bootstrap/scss/mixins/grid-framework";
@import "bower_components/bootstrap/scss/mixins/grid";
@import "bower_components/bootstrap/scss/mixins/float";

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function in-perc($val, $width: strip-unit($container-max-width - $grid-gutter-width-base)){
    @return ($val / $width * 100%);
}

@mixin abs-fill-size ($offset:0){
    position: absolute;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    width: 100%;
    height: 100%;
}

@mixin table-fill-size ($offset:0){
    display: table;
    width: 100%;
    height: 100%;
}