<div class="tiles-holder">
	<div class="tile-float-helper">
	
		<div class="tile-holder horizontal"> 
			<div class="tile-img-box">
				<div class="tile-inner">
					<div class="tile-fill-size">
						<div class="tile-img-holder"><img src="static/img/content/journal-img-1.jpg" alt="Journal image" class="tile-img"></div>
					</div>
					<div class="tile-fill-size">
						<div class="tile-ico-holder"><img src="static/img/general/journal-ico-1.png" alt="Journal ico" class="tile-img"></div>
					</div>
				</div>
			</div>
			<div class="tile-content-box">
				<div class="tile-inner">
					<div class="tile-fill-size">
						<div class="tile-content-inner">
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h6 class="tile-title">LOVE</h6>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h4 class="tile-head">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</h4>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<p class="tile-desc">You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.</p>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<div class="tile-number">01</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
		<div class="tile-holder horizontal shift">
			<div class="tile-img-box">
				<div class="tile-inner">
					<div class="tile-fill-size">
						<div class="tile-img-holder"><img src="static/img/content/journal-img-2.jpg" alt="Journal image" class="tile-img"></div>
					</div>
					<div class="tile-fill-size">
						<div class="tile-ico-holder"><img src="static/img/general/journal-ico-2.png" alt="Journal ico" class="tile-img"></div>
					</div>
				</div>
			</div>
			<div class="tile-content-box">
				<div class="tile-inner">
					<div class="tile-fill-size">
						<div class="tile-content-inner">
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h6 class="tile-title">tree</h6>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h4 class="tile-head">Lorem ipsum dolor sit amet, <strike>consectetur</strike> adipisicing elit,</h4>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<p class="tile-desc">The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now..</p>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<div class="tile-number">02</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="tile-holder vertical">
		<div class="tile-img-box">
			<div class="tile-inner">
				<div class="tile-fill-size">
					<div class="tile-img-holder"><img src="static/img/content/journal-img-3.jpg" alt="Journal image" class="tile-img"></div>
					<div class="tile-fill-size">
						<div class="tile-ico-holder"><img src="static/img/general/journal-ico-3.png" alt="Journal ico" class="tile-img"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="tile-content-box">
			<div class="tile-inner">
				<div class="tile-fill-size">
						<div class="tile-content-inner">
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h6 class="tile-title">WATER</h6>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<h4 class="tile-head">LITTLE PIECES OF OUR PROUDNESS</h4>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<p class="tile-desc">What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?</p>
								</div>
							</div>
							<div class="tile-content-aligner">
								<div class="tile-content-aligner-2">
									<div class="tile-number">03</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>