<div class="bg-darken">
	<div class="container-fluid">
		<div class="section-about" id="about" style="background-image: url('static/img/general/bg-about.png');">
			<div class="row">
				<div class="col-md-4">
					<div class="section-about-secondary-img-control"><img src="static/img/content/about-img-2.jpg" alt="image" class="section-about-secondary-img"></div>
					<div class="section-about-text-control">
						<h3 class="block-title block-title-sm section-about-title">ABOUT US</h3>
						<p class="block-desc prevent-ta">Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
						<div class="section-about-btn">
							<a href="#" class="btn btn-sm">read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="section-about-primary-img-control"><img src="static/img/content/about-img-1.jpg" alt="image" class="section-about-primary-img"></div>
				</div>
			</div>
		</div>
	</div>
</div>