<div class="order bg-darken">
	<div class="container-fluid">
		<div id="order">
			<div class="p-lg">
				<div class="row">
					<div class="col-lg-9">
						<h3 class="block-title block-title-sm">DO YOU WANNA GO?</h3>
						<p class="block-desc prevent-ta">Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
						<div class="order-form-control">
							<form action="" class="order-form">
								<div class="order-form-input-group">
									<input type="text" class="order-form-input" placeholder="Your name:">
								</div>
								<div class="order-form-input-group">
									<input type="tel" class="order-form-input" placeholder="Your phone:">
								</div>
								<div class="order-form-btn-holder">
									<input type="submit" class="btn order-form-btn" value="ORDER NOW">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>