<div class="jumbotron photo-man-and-mountains">
    <div class="jumbotron-bg-helper photo-man-and-mountains">
        <div class="block-overlay header-overlay">
            <div class="container-fluid">
                {{> header/header}}
            </div>
        </div>
        <div class="jumbotron-content-control container-fluid wow fadeIn" data-wow-delay=".25s">
            <div class="jumbotron-content">
               <div class="jumbotron-content-wrap">
               	 <h1 class="jumbotron-title">TRAVEL WITH US</h1>
               	<h1 class="jumbotron-title-styled prevent-tt">to the Mountains</h1>
               	<p class="jumbotron-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
               	<a href="#" class="btn btn-lg jumbotron-btn">ORDER NOW</a>
               </div>
            </div>
        </div>
    </div>
</div>
