<div class="container-fluid">
	<div id="contactForm">
		<div class="contactForm-holder">
			<div class="contactForm-holder-helper">
				<div class="contactForm-blur" style="background-image: url('%=static=%/img/content/bg-contact.jpg');"></div>
				<div class="contactForm">
					<h2 class="contactForm-title">CONTACTS</h2>
					<p class="contactForm-desc">Sign up for our newsletter to receive updates</p>
					<form action="" class="contactForm-form">
						<div class="form-group">
							<input type="text" class="form-control contactForm-input" placeholder="Name">
							</div>
						<div class="form-group">
							<input type="tel" class="form-control contactForm-input" placeholder="Phone">
							</div>
						<div class="form-group">
							<input type="email" class="form-control contactForm-input" placeholder="E-mail">
							</div>
						<input type="submit" class="btn btn-block btn-xlg" value="SEND">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
